h1{
	background-color: #00b359;
}
h1{
	padding:10px 300px 15px;
	
}
h1{

    margin-bottom: 100px;
    margin-right: 200px;
    margin-left: 200px;
}
div{
	margin-bottom: 40px;
    margin-right:400px;
    margin-left:400px;
	margin-top: 40px;
	
}

button{
	 margin-right:600px;
    margin-left:350px;
	margin-top: 40px;
}
button{
	padding: 5px 70px ;
	
}
button{
	background-color: #00b359;
}
button{
	font-family: "Montserrat", sans-serif;
}
h1{
	color:white;
}


h1{
	font-size: 1.7em;
	
}

input[type=text] {
    border: none;
    border-bottom: 0.5px solid gray;
}
input[type=text] {
font-family: "Montserrat", sans-serif;
}
h1{
	font-family: "Montserrat", sans-serif;
}
button{
	color: white;
}
button{
	border:none;
	border-radius: 5px;

}